{% extends "base.html" %}

<!-- Extrahead -->
{% block extrahead %}

<meta property="og:url" content="{{ page.canonical_url }}"> {% if page and page.meta and page.meta.title %}
<meta property="og:title" content="{{ page.meta.title }}"> {% elif page and page.title and not page.is_homepage %}
<meta property="og:title" content="{{ page.title }} - {{ config.site_name }}"> {% else %}
<meta property="og:title" content="{{ config.site_name }}"> {% endif %}

<meta property="og:description" content="{{ config.site_description }}">
<meta property="og:image" content="https://docs.rocketvalidator.comimg/docs-screenshot.jpg">
<meta property="og:image:alt" content="{{ config.site_description }}">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta name="twitter:site" content="@rocketvalidator">
<meta name="twitter:card" content="summary"> {% if page and page.meta and page.meta.title %}
<meta name="twitter:title" content="{{ page.meta.title }}"> {% elif page and page.title and not page.is_homepage %}
<meta name="twitter:title" content="{{ page.title }} - {{ config.site_name }}"> {% else %}
<meta name="twitter:title" content="{{ config.site_name }}"> {% endif %}

<meta name="twitter:description" content="{{ config.site_description }}">
<meta name="twitter:image" content="https://docs.rocketvalidator.comimg/docs-screenshot.jpg">
<meta name="twitter:image:alt" content="Screenshot of documentation site">

<!-- Plausible analytics -->
<script async defer data-domain="docs.rocketvalidator.com" src="https://plausible.io/js/plausible.js"></script>
{% endblock %}