/* Turn off hyphenation */

.md-typeset {
  hyphens: initial;
}

/* Code */

.md-typeset pre code {
  background-color: white;
  font-size: 1.1em;
}

.highlight .na {
  color: #aa0000;
}

/* Footer */

.md-footer-copyright {
  color: white;
}

/* Screenshots */

article img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

.noborder {
  border: 0;
}

/* Definition lists */

dt {
  font-weight: bold
}

/* Banners */

.widget {
  margin-top: 15px;
  border: 2px solid #facb06;
  border-radius: 10px;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0;
  width: 95%;
}

.widget p.title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}

.widget ul {
  padding-left: 25px;
}

.widget p.btn {
  color: #fff;
  background-color: #289528;
  border-color: #4cae4c;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.widget .btn:hover {
  background-color: #2daf2d;
}

/* Definition lists */

dl {
  margin-left: 25px;
}

/* Badges */
sup.badge-pro {
  color: green;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;

  border: 1px solid;
  padding: 2px 3px;
  border-radius: 5px;
}

h1 sup.badge-pro {
  font-size: 0.6em;
}

h2 sup.badge-pro {
  font-size: 0.6em;
}